#contactPage {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactPageTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #2E1D14;
}

.resumeImg {
  max-width: 25vw;
  margin-bottom: 50px;
  height: auto;
  cursor: pointer;
}

.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
  color: #2E1D14;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name, .email, .msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: #3b3833;
}

.name::placeholder, .email::placeholder, .msg::placeholder {
  color: #fff9f0;
  opacity: 0.7;
}

.submitBtn {
  background: #E0DBD5;
  color: #3b3833;
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
}

.submitBtn:hover {
  background: darkgray;
  color: black;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0 0.75rem;
}